# Gradle
.gradle/
app/build/
kit/build/

# Maven
target/

# IDEA
.idea/
*.iml
out/

# Eclipse
.classpath
.project
.settings/
bin/

# Netbeans
.nb-gradle/

# Miscellaneous
.DS_Store
lib/
scenicView.properties
*.patch
*.class
dist/
package/
/build/