# Gradle
.gradle/
app/build/
kit/build/

# IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/
bin/

# Netbeans
.nb-gradle/

# Miscellaneous
.DS_Store
lib/
scenicView.properties
*.patch
*.class
dist/
package/
/build/
/components/build/
/kit/target/
/components/target/
/app/target/
