.download_scenebuilder-dialog .content-container {
    -fx-spacing: 15;
}

.download_scenebuilder-dialog .header {
    -fx-font-weight: bold;
}

.download_scenebuilder-dialog {
    -fx-background-color: white;
    -fx-padding: 10;
}

.download_scenebuilder-dialog .content-container {
    -fx-padding: 0 60 0 0;
}

