name: Scene Builder PR Verify
on:
  pull_request:

jobs:
  verify:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest, windows-latest, ubuntu-latest ]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Java
        uses: oracle-actions/setup-java@v1
        with:
          website: jdk.java.net
          release: 20

      - name: Run Tests (Linux)
        if: runner.os == 'Linux'
        run: |
          export DISPLAY=:90
          Xvfb -ac :90 -screen 0 1280x1024x24 > /dev/null 2>&1 &
          mvn clean verify checkstyle:checkstyle --no-transfer-progress -X
      - name: Run Tests (MacOS / Windows)
        if: runner.os != 'Linux'
        run: |
          mvn clean verify checkstyle:checkstyle --no-transfer-progress
