name: Scene Builder Kit

on:
  workflow_call:
    inputs:
      project-version:
        required: true
        type: string
      java-version:
        default: '18'
        required: false
        type: string

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Setup Java
        uses: oracle-actions/setup-java@v1
        with:
          website: jdk.java.net
          release: ${{ inputs.java-version }}

      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Create Kit Jar
        run: |
          export DISPLAY=:90
          mkdir /home/runner/.vnc
          echo 123456 | vncpasswd -f > /home/runner/.vnc/passwd
          chmod -v 600 /home/runner/.vnc/passwd
          vncserver :90 -localhost -nolisten tcp
          mvn -B -ntp -q versions:set -DnewVersion=${{ env.PROJECT_VERSION }} -DgenerateBackupPoms=false
          mvn -B -ntp clean package -Dmaven.test.skip=true -f kit -ntp -B
          vncserver -kill :90
        env:
          PROJECT_VERSION: ${{ inputs.project-version }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: artifacts
          path: kit/target/lib/*.jar